page-show-poll {
    p:last-child {
    margin-bottom: 0;
    margin-left: 1.1em;
    }
    ion-avatar img, ion-thumbnail img{
        margin-left:1.6em;
    }
    ion-grid.grid{
        padding: 0%;
    }
    ion-col.col{
        padding: 0%;
        
    }
    ion-col.col {
    position: relative;
    text-align: center;
    padding: 0%;
    }

    ion-col img{
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        max-width: 99%;        }
 
  .card-title {
    position: absolute;
    top: 78%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color:white;
    background-color: black;
    opacity: 0.70;
  }
}
